<%- include('_layouts/header') -%>

	<div class="row justify-content-center">
    <div class="col-md-6 pt-4"  data-aos="fade-down">
			<div class="title">
				<h1 class="label1" align="center">Portfolio  </h1>
				<div class="line-shape"></div>
				<br>
			</div>

		</div>

		<section class="commentary-area section_padding_100" id="commentary" data-aos="zoom-in">
			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col">
			    <div class="card">
			      <img src="/images/img/art4.jpg" class="card-img-top" alt="...">
			      <div class="card-body">
							<a href="/portfolio/art" class="card-link">
								<h5 class="card-title" align="center"> Art</h5>
							</a>
			      </div>
			    </div>
			  </div>
				<div class="col">
			    <div class="card">
			      <img src="/images/img/b2.jpg" class="card-img-top" alt="...">
			      <div class="card-body">
							<a href="/portfolio/babies" class="card-link">
								<h5 class="card-title" align="center">Babies</h5>
							</a>
			      </div>
			    </div>
			  </div>
			  <div class="col">
			    <div class="card">
			      <img src="/images/img/beauty2.jpg" class="card-img-top" alt="...">
			      <div class="card-body">
							<a href="/portfolio/beauty" class="card-link">
								<h5 class="card-title" align="center">Beauty</h5>
							</a>
			      </div>
			    </div>
			  </div>
			</div>
			<br/ >
			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col">
			    <div class="card">
			      <img src="/images/img/family1.jpg" class="card-img-top" alt="...">
			      <div class="card-body">
							<a href="/portfolio/family" class="card-link">
								<h5 class="card-title" align="center">Family</h5>
							</a>
			      </div>
			    </div>
			  </div>
				<div class="col">
			    <div class="card">
			      <img src="/images/img/food2.jpg" class="card-img-top" alt="...">
			      <div class="card-body">
							<a href="/portfolio/food" class="card-link">
								<h5 class="card-title" align="center">Food</h5>
							</a>
			      </div>
			    </div>
			  </div>
			  <div class="col">
			    <div class="card">
			      <img src="/images/gallery/s3.jpg" class="card-img-top" alt="...">
			      <div class="card-body">
							<a href="/portfolio/lifestyle" class="card-link">
								<h5 class="card-title" align="center">Lifestyle</h5>
							</a>
			      </div>
			    </div>
			  </div>
			</div>

			<br/ >

			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col">

			  </div>
				<div class="col">
			    <div class="card">
			      <img src="/images/img/weddings9.jpg" class="card-img-top" alt="...">
			      <div class="card-body">
							<a href="/portfolio/weddings" class="card-link">
								<h5 class="card-title" align="center">Weddings</h5>
							</a>
			      </div>
			    </div>
			  </div>
				<div class="col">

			  </div>
			</div>
		</section>


	</div>





<%- include('_layouts/footer') -%>
